[submodule "etmain"]
	path = etmain
	url = git://xreal.git.sourceforge.net/gitroot/xreal/ET-XreaL_etmain
[submodule "etxradiant"]
	path = etxradiant
	url = git://xreal.git.sourceforge.net/gitroot/xreal/ET-XreaL_etxradiant
