[submodule "etmain"]
	path = etmain
	url = git://xreal.git.sourceforge.net/gitroot/xreal/ET-XreaL_etmain
[submodule "omni-bot"]
	path = omni-bot
	url = git://xreal.git.sourceforge.net/gitroot/xreal/ET-XreaL_omni-bot
